.header {
  text-align: center;
  font-weight: bolder;
  margin-top: 20px;
}

#title {
  font-size: 4.8rem;
  text-decoration: underline;
}

#message {
  font-size: 3.2rem;
  margin-bottom: 40px;
}

#categories {
  row-gap: 50px;
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0
}