.choice-block {
	border: 1px solid black;
  // width: 50%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.choice {
	text-align: center;
  font-size: 2.7rem;
	font-weight: bold;
  margin: 0;
  padding: 5px;

  &:hover {
    background-color: darkgrey;
  }
}
