.choice {
	text-align: center;
  font-size: 2.7rem;
	font-weight: bold;
  margin: 0;
  padding: 5px;
  border: 1px solid black;

  &:hover {
    background-color: darkgrey;
  }
}

.correct {
  background-color: green;
}

.wrong {
  background-color: red;
}