#nav {
	background-color: rgb(43, 43, 43);
	height: 40px;
	font-size: 2.1rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;

	a {
		color: rgb(184, 184, 184);
	}
}
